html, body {
  height: 100%;
  width: 100%;

  /* ini nnti fontnya di link */
  font-family: Comfortaa, Arial, sans-serif;
}

#goevent_color {
  color: #2980b9;
}

#no_padding {
  padding: 0 !important;
  margin: 0 !important;
}

.btn-round{
  border-radius: 17px;
}

#middle {
  padding-top: 20vh;
}

#sample{
  width: 100vw;
}

#line_horizontal {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 10px solid black;
  margin: 1em 0;
  padding: 0;
}



/* kategori */

.item {
  position: relative;
  
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  width: 540px;
}
.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.thumbnail_pict {
  width: 100px;
}

.glyphicon.glyphicon-cog{
  font-size: 25px;
}
.glyphicon.glyphicon-trash{
  font-size: 25px;
}

#card_event {

  height: 45vh; 
  padding: 0vh 1vw 0vh 1vw; 
  margin: 2vh 0vw 15vh 0vw;

}

#card_event2 {
  margin: 0 auto;
}

#date_card {
  font-weight: 400; 
  color: #42454d;
}

#title_card {
  font-weight: 600; 
  color: #42454d;
}

#location_card {
  font-weight: 300; 
  color: #42454d;
}


#box__dragndrop,
#box__uploading,
#box__success,
#box__error {
  display: none;
}

#box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
#box.has-advanced-upload .box__dragndrop {
  display: inline;
}

#box.is-dragover {
  background-color: grey;
}

#box.is-uploading .box__input {
  visibility: none;
}
#box.is-uploading .box__uploading {
  display: block;
}

.akun {
  color: green;
}

.akun_tombol_gambar {
  width: 20vw;
}

.label-dark {
  background-color: #222222;
}

.page_background_snow {
  background-color: #f8f8fa !important;
}

.card_browse_event {
  /* width: 95%; */
  background-color: white;
  margin: 2vh 10vw 2vh 0vw;
  padding: 2vh 0vw 2vh 0vw;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.05), 0 2px 0px 0 rgba(0, 0, 0, 0.1  );
}

/* loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.selected_certificate {
  padding: 10px;
  border: 5px solid rgba(11,83,133,0.5);
  border-radius: 25px;
}

.piechart_attendance {
  width: 500px;
  height: 500px;
}